---
const { title, link1, link2 } = Astro.props;
---

<div class="my-4">
  <p class="mb-1 font-bold">{title}</p>
  <p class="mt-2 flex gap-4">
    <a
      class="px-4 py-2 rounded-md font-bold bg-mauve-400 hover:bg-mauve-300 text-slate-100"
      href={link1}>Link One</a
    >
    {
      link2 ? (
        <a
          class="px-4 py-2 rounded-md font-bold bg-mauve-400 hover:bg-mauve-300 text-slate-100"
          href={link2}
        >
          Link two
        </a>
      ) : null
    }
  </p>
</div>
