---
import "../styles/global.css";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, maximum-scale=1"
    />
    <meta name="generator" content={Astro.generator} />
    <meta name="title" content="Know Your Score" />
    <meta name="description" content="Michael's Story Is God's Glory" />
    <meta name="theme-color" content="#0C0706" />
    <meta property="og:image" content="/images/vi-and-michael.jpg" />
    <title>Know Your Score - Michael's Story is God's Glory</title>
  </head>
  <body class="bg-stone-900 text-slate-100">
    <slot />
  </body>
</html>
